.news-block-tittle {
  border-bottom: 7px solid #1899eb; }

.documents h4 {
  color: #1899eb; }

h4 {
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px; }

.about {
  min-height: 650px; }

.features-item {
  height: 239px; }

.ask-info p {
  line-height: 2.5; }

.callback {
  -webkit-border-radius: 15px;
          border-radius: 15px; }

.contact-form .callback {
  margin: 15px auto;
  float: none; }

.contact-form {
  overflow: hidden; }

.bold-text-cont {
  padding-bottom: 15px;
  display: inline-block; }

.about .top-words {
  bottom: 15px; }

.footer {
  position: absolute;
  bottom: 15px;
  width: 100%; }

.mobile-navi-block {
  display: none; }

.jgallery .zoom-container .nav-bottom, .jgallery .jgallery-thumbnails.images, .jgallery .jgallery-thumbnails.images .jgallery-container-inner, .jgallery .zoom-container .nav {
  display: none; }

.pt-item img {
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important; }

.pt-item, .jgallery .zoom .pt-perspective.hide-overflow, .jgallery .zoom {
  min-height: 100vh !important; }

.jgallery.jgallery-slider, .jgallery.jgallery-standard {
  background: none !important; }

.place-info-cont {
  position: absolute;
  bottom: 30px !important;
  left: 50px; }

.place {
  background: none; }

@media (max-width: 990px) {
  .fixed-nav-cont {
    z-index: 99999;
    background-color: rgba(211, 192, 177, 0.7);
    width: 100%;
    height: auto;
    left: 0px; }
  .logo {
    display: none; }
  .footer-info {
    display: none; }
  .social {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 5px;
    width: 50px; }
  .navbar-toggle {
    position: static !important;
    margin: 0px;
    margin-right: 25px;
    margin-top: 7px; }
  .about .header-contacts, .about .top-words, .about .container-fluid .row .col-md-12 {
    position: static; }
  .about, .comfort, .rooms-plans, .select-rooms, .news, .company, .contacts {
    height: auto;
    min-height: 350px; }
  .header-contacts {
    margin-left: 0px;
    text-align: center; }
  .telephone img {
    float: none;
    margin-top: 37px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto; }
  .telephone p:nth-child(3), .telephone p:nth-child(4), .telephone p:nth-child(5) {
    padding-left: 0px; }
  h1 {
    font-size: 115%;
    padding-top: 55px;
    padding-bottom: 55px; }
  .far {
    display: none !important; }
  h4 {
    font-size: 75%; }
  .graphic {
    margin-top: 45px;
    text-align: center; }
  .telephone {
    text-align: center; }
  .container-fluid {
    margin: 0px;
    width: 100%;
    background-position: center; }
  .ask-info p {
    text-align: center; }
  .comfort-header span {
    font-size: 50%; }
  .rooms-plan img {
    height: auto;
    width: 100%; }
  .modal {
    z-index: 9999999; }
  .rooms-form input {
    width: 100%;
    margin-top: 10px !important; }
  .office-title {
    font-size: 75%; }
  .news {
    padding-bottom: 35px; }
  .news-text h5 {
    padding-top: 15px;
    font-size: 100%; }
  .documents .col-md-3 a img {
    width: 100%;
    height: auto; }
  .contacts {
    text-align: center; }
  .contact-form {
    position: static; }
  .contacts ul li {
    text-align: left; }
  .footer {
    position: absolute;
    top: 7px;
    margin: 0px;
    width: 50px; }
  .navbar-default {
    margin-bottom: 0px; }
  .header-contacts .callback {
    margin: 5px auto;
    display: block;
    float: none; }
  .main-block-phrase {
    margin: 15px auto;
    float: none;
    display: inline-block; }
  .navbar-header {
    z-index: 88888; }
  .navbar-toggle {
    z-index: 99999; }
  .comfort {
    background: url(../img/comfort.jpg); }
  .desktop-navi-block {
    display: none; }
  .mobile-navi-block {
    display: block; } }
