body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 14px; }

h1, h2, h3 {
  color: white;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3; }

h1 {
  font-size: 150%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.9;
  padding-top: 3vh;
  padding-bottom: 3vh; }

h4 {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  font-size: 85%;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 1.3;
  border-right: 9px solid #d3c0b1;
  border-left: 9px solid #d3c0b1; }

.main-menu {
  font-family: 'Lobster', cursive;
  padding-right: 0px;
  text-align: center; }

.far {
  background: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 28px;
  width: 30px;
  border: 1px solid #d3c0b1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.about .col-md-1 {
  text-align: right;
  padding-top: 15px; }

.clear {
  clear: both; }

.nav-pills {
  margin-top: 10px; }

.nav-pills > li > a, .callback {
  color: #351c0c;
  font-size: 11px;
  margin-top: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.nav-pills > li > a, .callback {
  width: 100%;
  text-decoration: none;
  outline: none;
  display: inline-block;
  position: relative;
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.nav-pills > li > a:before, .nav-pills > li > a:after, .callback:before, .callback:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-pointer {
  overflow: hidden;
  float: left; }

.nav-pills > li > a:before, .callback:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #351c0c;
  border-top: 1px solid #351c0c;
  -webkit-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  -o-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s; }

.nav-pills > li > a:after, .callback:after {
  top: 0;
  right: 0;
  border-right: 1px solid #351c0c;
  border-bottom: 1px solid #351c0c;
  -webkit-transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  -o-transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s; }

.nav-pills > li > a:hover:before, .nav-pills > li > a:hover:after, .callback:hover:before, .callback:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1; }

.nav-pills > li > a:hover:before, .callback:hover:before {
  -webkit-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  -o-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s; }

.nav-pills > li > a:hover:after, .callback:hover:after {
  -webkit-transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;
  -o-transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;
  transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s; }

.nav-pills > li > a:hover, .callback:hover {
  background: #d3c0b1; }

.cont-main-information {
  margin-top: -webkit-calc(100vh - 650px);
  margin-top: calc(100vh - 650px); }

.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin-top: -webkit-calc(100vh - 552px - 60px - 15px);
  margin-top: calc(100vh - 552px - 60px - 15px); }

.footer-info {
  margin-top: 10px; }

.social > a > img {
  width: 35px; }

.main {
  padding-right: 0px;
  padding-left: 0px; }

.logo {
  padding: 9px;
  margin-top: 15px; }

.content {
  overflow-y: scroll;
  padding-left: 0px;
  height: 100vh;
  border-left: 1px solid gray; }

.logo > a > img {
  width: 100%; }

.navbar > .container-fluid {
  padding: 0px; }

.nav-pills > li > a {
  text-align: center; }

.navbar-default {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.about {
  background: url(../img/f2.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 5vh; }

.place {
  background: url(../img/place.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-position: top left;
  background-repeat: no-repeat; }

.comfort {
  background: url(../img/comfort.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: left;
  background-repeat: no-repeat; }

.about, .place, .comfort, .select-rooms, .select-office, .contacts, .company, .news {
  padding-left: 0px;
  height: 100vh;
  width: 100%;
  position: relative; }

.header-contacts {
  width: 90%;
  clear: both;
  padding-left: 15px;
  padding-right: 15px; }

.graphic {
  text-align: left;
  color: white;
  font-size: 85%; }
  .graphic p:nth-child(3), .graphic p:nth-child(4), .graphic p:nth-child(5) {
    font-size: 80%; }
  .graphic p:nth-child(3) {
    padding-top: 10px; }

.telephone {
  text-align: justify;
  color: white; }
  .telephone p {
    padding-top: 5px; }
    .telephone p small {
      font-size: 75%; }

.telephone img {
  display: block;
  float: left;
  padding-right: 17px;
  padding-top: 14px; }

.callback {
  text-align: center;
  background-color: #d3c0b1;
  color: white;
  padding: 15px;
  float: left; }

.callback:hover {
  background: rgba(0, 0, 0, 0.4);
  color: white; }

.features-block {
  padding: 25px 10px; }

.header-features {
  color: #d3c0b1; }

.features-block > .row > .col-md-4 {
  height: 195px;
  overflow: hidden;
  text-align: center;
  margin-top: 15px;
  padding: 25px; }

.features-block > .row > .col-md-4 > img {
  display: block;
  float: none;
  margin: 0px auto;
  padding-bottom: 15px; }

.ask {
  background-color: #d3c0b1;
  padding: 25px; }

.ask-info {
  color: white;
  padding-top: 5%; }

.ask-form > form > input {
  margin: 10px auto;
  padding: 9px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  float: none;
  display: block;
  width: 285px; }

.ask-form > form > input[type="submit"] {
  width: 285px;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.3); }

.comfort-header {
  text-align: justify;
  color: #d3c0b1;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-transform: none;
  margin-top: 7%; }

.comfort h4 {
  width: 50%;
  margin: 5% auto;
  display: block;
  background-color: #d3c0b1;
  color: white;
  border-color: white; }

.rooms-back {
  background: url(../img/vertical.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh; }

.rooms-plan img {
  height: 23vh; }

.rooms-plans {
  padding: 15px; }

.modal-dialog {
  width: 95%; }

.left-title, .sale-title {
  display: inline-block;
  padding: 5px 5px;
  margin-left: 5%; }

.left-count, .sale-count {
  display: inline-block;
  padding: 5px 5px;
  color: white;
  font-weight: bold; }

.left-count {
  background-color: #d3c0b1; }

.sale-count {
  background-color: #d3c0b1; }

.rooms-form {
  overflow: hidden;
  text-align: center; }

.rooms-form > input {
  display: inline-block;
  width: 20%;
  margin-right: 15px;
  float: none;
  padding: 5px;
  padding-left: 15px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  height: 35px;
  border: 1px solid #d3c0b1; }

.rooms-form > input[type="submit"] {
  display: inline-block;
  margin-top: 0px;
  padding: 5px; }

.modal-footer > h5 {
  text-align: center;
  padding: 15px; }

.office-title {
  -webkit-border-bottom-right-radius: 35%;
          border-bottom-right-radius: 35%;
  -webkit-border-bottom-left-radius: 35%;
          border-bottom-left-radius: 35%;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 0px;
  overflow: hidden; }

.office-title h2 {
  margin-top: 3%;
  padding: 5px;
  text-transform: none;
  font-size: 150%; }
  .office-title h2 b {
    padding-top: 15px;
    display: block;
    margin: 0px auto; }

.select-office {
  overflow: hidden; }

.news .col-md-6 {
  padding: 15px;
  text-align: center;
  border-sizing: border-box; }

.news .col-md-6 p {
  padding: 1vh; }

.news .col-md-6 img {
  height: 35vh;
  display: inline-block; }

.contact-info > .col-md-6 {
  padding: 55px 35px; }

.row {
  margin: 0px; }

.contacts {
  background: url(../img/contacts.jpg);
  -webkit-background-size: cover;
          background-size: cover; }

.contact-form {
  padding: 35px;
  position: absolute;
  bottom: 15vh; }

.contact-text {
  background-color: #d3c0b1;
  right: 30px !important; }

.contact-form form {
  width: 100%;
  display: block;
  margin: 15px auto; }

.contact-form form input {
  display: block;
  width: 100%;
  text-align: center;
  height: 39px;
  margin-top: 15px;
  border: 1px solid #d3c0b1;
  padding: 9px;
  -webkit-border-radius: 15px;
          border-radius: 15px; }

.contact-form h3 {
  margin-top: 0px;
  padding: 0px;
  color: #351c0c;
  text-align: center; }

.company {
  padding: 35px; }

.company-logo img {
  width: 100%; }

.documents h4 {
  width: 50%;
  margin: 18px auto;
  background: rgba(0, 0, 0, 0.1); }

.documents .col-md-3 a img {
  height: 30vh; }

.documents .col-md-3 {
  padding-top: 15px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.about .top-words {
  position: absolute;
  bottom: 30px;
  left: 30px; }

.about .header-contacts {
  position: absolute;
  top: 30px;
  left: 30px; }

.about .container-fluid .row .col-md-12 {
  position: absolute;
  top: -webkit-calc(131px + 30px);
  top: calc(131px + 30px); }

.small-description {
  position: absolute;
  bottom: 15px;
  left: 15px; }
